In [14]:
import pandas as pd

In [15]:
read_file = pd.read_csv ('../Data/Raw/list_attr_celeba.txt',header=None)

In [16]:
read_file2 = read_file.replace({' ':';'}, regex=True)
read_file3= read_file2.replace({';;':'; '}, regex=True)
read_file3

                                                        0
0       Image;5_o_Clock_Shadow;Arched_Eyebrows;Attract...
1       000001.jpg;-1; 1; 1;-1;-1;-1;-1;-1;-1;-1;-1; 1...
2       000002.jpg;-1;-1;-1; 1;-1;-1;-1; 1;-1;-1;-1; 1...
3       000003.jpg;-1;-1;-1;-1;-1;-1; 1;-1;-1;-1; 1;-1...
4       000004.jpg;-1;-1; 1;-1;-1;-1;-1;-1;-1;-1;-1;-1...
...                                                   ...
202595  202595.jpg;-1;-1; 1;-1;-1;-1; 1;-1;-1; 1;-1;-1...
202596  202596.jpg;-1;-1;-1;-1;-1; 1; 1;-1;-1; 1;-1;-1...
202597  202597.jpg;-1;-1;-1;-1;-1;-1;-1;-1; 1;-1;-1;-1...
202598  202598.jpg;-1; 1; 1;-1;-1;-1; 1;-1; 1;-1;-1;-1...
202599  202599.jpg;-1; 1; 1;-1;-1;-1;-1;-1;-1; 1;-1;-1...

[202600 rows x 1 columns]

In [20]:
read_file3.to_csv ('../Data/Processed/atributes.csv', index=None, header=None)

In [21]:
df=pd.read_csv('../Data/Processed/atributes.csv',sep=';')
df

,Image,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,...,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young,Unnamed: 41
0,000001.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,1,1,-1,1,-1,1,-1,-1,1,NaN
1,000002.jpg,-1,-1,-1,1,-1,-1,-1,1,-1,...,1,-1,-1,-1,-1,-1,-1,-1,1,NaN
2,000003.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,1,-1,-1,-1,-1,-1,1,NaN
3,000004.jpg,-1,-1,1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,1,-1,1,1,-1,1,NaN
4,000005.jpg,-1,1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,1,-1,-1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202594,202595.jpg,-1,-1,1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,1,-1,-1,1,NaN
202595,202596.jpg,-1,-1,-1,-1,-1,1,1,-1,-1,...,1,1,-1,-1,-1,-1,-1,-1,1,NaN
202596,202597.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,1,-1,-1,-1,-1,-1,-1,-1,1,NaN
202597,202598.jpg,-1,1,1,-1,-1,-1,1,-1,1,...,1,-1,1,1,-1,1,-1,-1,1,NaN
202598,202599.jpg,-1,1,1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,-1,1,-1,-1,1,NaN